.calendar-container {
    width: 50%;
}

.calendar {
    width: 80%;
    margin: 0 auto;
}

.calendar-content {
    display: flex;
}

.calendar-service {
    margin-left: 10%;
    border: 1px solid #ccc;
    width: 30%;
}