@media screen and (max-width:500px) {
    .locations-container {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-top: 100px;
        text-align: center;  
    }

    .locations-container h2 {
        color: lightslategrey;
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 28px;
    }

    .store-details h3 {
        font-size: 20px;
    }

    .store-details  {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) and (max-width:768px) {
    .locations-container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 100px;
        text-align: center;  
    }

    .locations-container h2 {
        color: lightslategrey;
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 28px;
    }

    .store-details h3 {
        font-size: 20px;
    }

    .store-details  {
        font-size: 14px;
    }
}

@media screen and (min-width:768px) {
    .location-detail {
        display: flex;
    }

    .locations-container {
        width: 35%;
        margin-top: 100px;
        height: 500px;
        text-align: center;
    }

    .store-details {
        overflow: scroll;
        height: 470px;
    }

    .locations-container h2 {
        color: lightslategrey;
        margin-bottom: 10px;
    }
}


.location {
    text-align: center;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.location:hover {
    background-color:#FFE4E1;
}

.location-selected {
    text-align: center;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color:#FFE4E1;
}

.google-map-container {
    margin-left: 20px;
    margin-top: 100px;
    width: 60%;
    height: 600px;
}

