.pop-service-container {
    width: 100%;
    position: relative;
}

.pop-service-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.pop-services-display {
    display: flex;
}
.pop-service-title {
    font-family: 'Muli',sans-serif;
    color: #6f6f6f;
    font-size: 36px;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-top: 120px;
}

.pop-service-left{
    position: relative;
    width: 33.33333%;
    margin-left: 5%;
    margin-bottom: 30px;
}

.pop-service-leftrow {
    width: 70%;
    text-align: right;
    margin-top: 50px;
    display: flex;
}

.pop-service-leftrow:hover {
    transform: translatex(50px);
    transition: 2s;
    cursor: pointer;
}

.pop-service-leftrow:hover .pop-service-arrow img {
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    visibility: visible;
}

.pop-service-rightrow:hover .pop-service-arrow-reverse img {
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    visibility: visible;
}

.pop-service-leftrow h2 {
    font-size: 27px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Muli',sans-serif;
    font-style: normal;
    color: #222;
    text-rendering: optimizeLegibility;
}

.pop-service-leftrow p {
    font-family: 'Muli',sans-serif;
    text-rendering: optimizeLegibility;
    display: block;
    font-size: 16px;
}


.pop-service-arrow img {
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    visibility: hidden;
}

.pop-service-arrow-reverse img {
    height: 30px;
    margin-right: 5px;
    margin-top: 10px;
    transform: rotate(180deg);
    visibility: hidden;
}

.pop-service-right{
    position: relative;
    width: 33.33333%;
    margin-left: 8%;
    margin-bottom: 30px;
}

.pop-service-rightrow {
    width: 70%;
    text-align: left;
    margin-top: 50px;
    display: flex;
}

.pop-service-rightrow:hover {
    transform: translatex(-50px);
    transition: 2s;
    cursor: pointer;
}

.pop-service-rightrow h2 {
    font-size: 27px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Muli',sans-serif;
    font-style: normal;
    color: #222;
    text-rendering: optimizeLegibility;
}

.pop-service-rightrow p {
    font-family: 'Muli',sans-serif;
    text-rendering: optimizeLegibility;
    display: block;
}


.pop-service-middle {
    border: solid 2px black;
    width: 33.333%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
}