.nav-bar-fixed {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(100,100,100,0.4);
}
.nav-bar {
    width: 100%;
    background-color: rgba(100,100,100,0.4);
    display: block;
    position: fixed;
    
}

ul {
    list-style: none;
}

.logo {
    margin-left: 10px;
    width: 40%;
    height: 60%;
    float: left;
}

.nav-links {
    float: right;
}

.nav-links li{
    display: inline-block;
    color: white;
}

.link {
    display: inline-block;
    color: white;
}

.links {
    /*text-decoration: none;*/
    color: white; 
}

.links:hover {
    color: blueviolet;
}

.link::before,
.link::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.link::before {
	margin-right: 5px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.link::after {
	margin-left: 5px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.link:hover::before,
.link:hover::after,
.link:focus::before,
.link:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}