.service-img {
    width: 100%;
    height: 500px;
}

.services {
    text-align: left;
}

.service-nav {
    display: flex;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: 'Muli',sans-serif;
    color: #6f6f6f;
}

.service-nav-title {
    font-family: 'Muli',sans-serif;
    color:  #f6cf46;
    width: 25%;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 20px;
}

.service-nav li {
    margin-left: 5%;
    list-style: none;
    cursor: pointer;
}

.services-display {
    margin-left: auto;
    margin-right: auto;
}

.display-item {
    float: left;
    width: 25%;
    height: 400px;
    margin-left: 5%;
    margin-bottom: 20px;

}

.display-img {
    vertical-align: bottom;
    width: 100%; 
}

.type {
    display: inline-block;
    background-color: lightpink;
    color: white;
    font-family: 'Muli',sans-serif;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    text-align: center; 
}

.type span {
    color: white;
    font-size: 20PX;
    font-weight: bold;
    vertical-align: middle;
    top: 0;
}